/*
Title:   Custom Css File
Author:  http://themeforest.net/user/hogash // Marius Hogas
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
I WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.query_rule {color:#000;}

.gray-area {margin-bottom:0px;}

#footer {border-top:0px solid #fff;}

#footer .menu {margin:0; padding:0; list-style:none;}
#footer .menu li {float:left; width:100%;}
#footer .email {color:#4282e1;}


.topnav > li > a {
	font-size:12px;
	font-weight:700;
}

section#content {
	margin-top: 20px;
}

/*
navbar changes
*/

.navbar-inverse { 
	background:rgba(0,0,0,0.85); 
}

.navbar-nav > li > a {
	font-weight: bold;
}

.navbar-brand {
	float: left;
	padding: 5px 5px;
}

.navbar-brand img {
	background-color: rgba(0,0,0,0.15);
	padding-bottom: 5px;
	border-bottom: 1px solid black; 
	height: 70px;
}

@media (max-width: 767px) {
	.navbar-brand {
		display: none;
	}
}


/*
Alternate Breadcrumb styling
*/

.breadcrumbs_lite {
	margin: 10px 0 8px;
	padding:0 10px 0 0;
	list-style:none;
	float: left;
}
.breadcrumbs_lite li {
	float:left; 
	padding-left:10px; 
	background:url(../images/breadcrumbs-arr.png) no-repeat left center; 
	margin-left:10px; 
	color:#eee; 
	line-height:1.9; 
	font-size:13px; 
	font-weight:700; 
}
.breadcrumbs_lite li:first-child { 
	padding-left:0; 
	background:none; 
	margin-left:0;
	}
.breadcrumbs_lite li a {
	color:#969696;
}

/*
Red Hover-box
*/

.hover-box-red {display:block; padding:15px; background:#cd2122; border:1px solid rgba(0,0,0,0.4); color:#fff; text-shadow:1px 1px 0 rgba(0,0,0,0.5); border-radius:3px;}
.hover-box-red:hover {background:#2980B9; color:#fff;}
.hover-box-red.centered {text-align:center;}
.hover-box-red > img {float:left; margin: 15px 15px 8px 10px;}
.hover-box-red > h3 {line-height: 1.1; margin-top:0;}
.hover-box-red > h4 {line-height: 1.1; margin-top:0;}
.hover-box-red > p {margin-bottom:0;line-height: 1.1;}

/*
Green Hover-box
*/

.hover-box-green {display:block; padding:15px; background:#51a351; border:1px solid rgba(0,0,0,0.4); color:#fff; text-shadow:1px 1px 0 rgba(0,0,0,0.5); border-radius:3px;}
.hover-box-green:hover {background:#969696; color:#fff;}
.hover-box-green.centered {text-align:center;}
.hover-box-green > img {float:left; margin: 15px 15px 8px 10px;}
.hover-box-green > h3 {line-height: 1.1; margin-top:0;}
.hover-box-green > h4 {line-height: 1.1; margin-top:0;}
.hover-box-green > p {margin-bottom:0;line-height: 1.1;}





/*
Custom Headers
*/
#page_header .bgback.asff_logo {
	background:url(../../../files/images/headers/1920_301/asff_logo.jpg) no-repeat center top;
	border-bottom:1px solid #fff;
}

#page_header {
	border-bottom:1px solid #fff;
}

.account {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 200;
	line-height: 20px;
}

.hotelrow {
	border-top: 1px solid #cbcbcb;
	padding-top: 10px;
}

#results {
	max-height:600px;
	overflow:auto;
	background-color:#ddd;
	padding:5px;
}

#results li {
	list-style: none;
}

.main_menu {
	margin-bottom: 10px;
	padding-bottom: 5px;
	width: 200px;
}

.main_menu_sub_title {
	padding: 5px 0px 0px 0px;
	border-top: 1px solid #cbcbcb;
}

.main_menu p {
	font-size: 10px;
	line-height: 14px;
	padding: 3px 0px;
}



/* support panels */
#contact_panel,
#login_panel,
#account_panel,
#forgot_panel {
	background:#eee; 
	height: 0; 
	position:relative; 
	overflow:hidden;
	-webkit-box-shadow:0 0 15px rgba(0, 0, 0, 0.4) inset;
	-moz-box-shadow:0 0 15px rgba(0, 0, 0, 0.4) inset; 
	box-shadow:0 0 15px rgba(0, 0, 0, 0.4) inset; 
}

#contact_panel.opened,
#login_panel.opened,
#account_panel.opened,
#forgot_panel.opened { 
	margin-top:0; 
}

#contact_panel .container,
#login_panel .container,
#account_panel .container,
#forgot_panel .container {
	padding:15px 0;
}

span#result {font-size: 12px;}


/** Login Register stuff */
.login-panel,
.account-panel,
.forgot-panel { padding:20px;}
.login-panel .m_title,
.account-panel .m_title,
.forgot-panel .m_title {font-size:20px; font-weight:500; color:#4a4a4a; margin-bottom: 20px; line-height: 1;}
.login-panel .inputbox {width:145px; margin: 0 4px 0 0; vertical-align: top;}
.login-panel input[type=submit],
.account-panel input[type=submit],
.forgot-panel input[type=submit] {border:0; vertical-align: top;  height:30px;}
.login-panel .create_account,
.login-panel input[type=submit],
.account-panel input[type=submit],
.forgot-panel input[type=submit],
.login-panel .login_facebook {display: inline-block; line-height: 30px; background: #E12121; color: white; font-size: 14px; padding: 0 10px; margin-right:30px;
-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.login-panel .create_account:hover,
.login-panel input[type=submit]:hover,
.account-panel input[type=submit]:hover,
.forgot-panel input[type=submit]:hover {background: #787878; }
.login-panel .login_facebook {background:#3b5998; margin-right:0;}
.login-panel .links a,
.account-panel .links a,
.forgot-panel .links a {font-size:10px; font-weight:bold; color:#898989; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);}
